.ShipBuilder {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 200px;
}
.Container {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin: auto;
}

.Names, .Values, .Checks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Names {
  text-align: right;
  margin-right: 0.5em;
}

div {
  grid-column: 1;
}

select {
  grid-column: 2/6;
  height: 20px;
}

input {
  grid-column: 6;
}

button {
  grid-column: 3 / 5;
}

.ShipBuilder div, .ShipBuilder select, .ShipBuilder button, .ShipBuilder input {
  align-self: center;
}

