
.DryDock {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  justify-content: space-evenly;
  margin: auto;
}

.Num {
  font-family: OrbitronBlack;
}

.Options {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.Options select, .Options button, .Options input {
  margin-top: 3px;
  margin-left: 3px;
}

.Frame {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 270px;
}

label {
  margin-right: 0.5em;
}

  .Options {
    flex-direction: column;
  }
  .Frame, .Available{
    justify-content: space-evenly;
    align-items: center;
  }
  .Available{
    width: 285px;
    margin-bottom: 3px;
  }





.Frame .Inputs, .Frame .Available {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}

.Frame .Inputs div, .Frame .Available div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Outfit {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 330px;
}

.Outfit div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}

.Shopping {
  display: flex;
}

.List {
  flex: 2.5 1 0;
  text-align: right;
}

.Receipt {
  flex: 1.5 1 0;
  break-after: always;
  text-align: left;
  margin-left: 5vmin;
}

.Disallowed {
  color: red;
}

.RemoveButton {
  font-size: xx-small;
  width: min-content;
  height: min-content;
  background-color: darkred;
  border: 1px solid black;
  color: oldlace;
  border-radius: 2px;
  position: relative;
  top: -5px;
}

.BuildShip, .ClearShopping{
  width: 10vmin;
  max-width: 20vmin;
  flex: 1 1;
  margin-left: 4vmin;
  margin-right: 4vmin;
}

.ListButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}