.Title {
  font-family: 'OrbitronBlack';
  /* text-shadow:
             cyan 0.75px -0.75px 2px,
             magenta -0.75px 0.75px 2px; */
  margin: auto;
}
#Hanger {
  width: 100%;
}

@media (min-width: 300px) {
    #Hanger {
    width: 94vw;
    padding: 1vmin;
}
}