.Title {
  font-family: 'OrbitronBlack';
  /* text-shadow:
             cyan 0.75px -0.75px 2px,
             magenta -0.75px 0.75px 2px; */
  margin: auto;
}
#Hanger {
  width: 100%;
}

@media (min-width: 425px) {
  #Hanger {
    width: 94vw;
    padding: 1vmin;
  }
  .Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 0.5vw;
    justify-content: center;
  }
  .Ship {
    grid-column: 1fr;
    box-sizing: border-box;
  }
}