@font-face {
  font-family: 'Robo Girls';
  src: local('Robo Girls'),
    url('./app/resources/fonts/RoboGirls.ttf') format('truetype');
}

@font-face {
  font-family: 'Robo Girls Italic';
  src: local('Robo Girls Italic'),
    url('./app/resources/fonts/Robo Girls Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'OrbitronBlack';
  src: local('Orbitron-Black'),
    url('./app/resources/fonts/Orbitron-Black.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../public/Orion-Nebula.jpg) fixed;
  /* 
  background-image: url(../public/milky-way-full-stars-space.jpg);
  background-size: cover; */
  background-size: cover;
  /* text-shadow: cyan .5px -.5px, magenta -0.5px 0.5px;
  color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Floater {
  border-radius: 6px;
  border-top: 3px ridge darkgray;
  background: rgba(255, 255, 255, 0.8);
  margin: 1vmin auto;
  padding: 1vmin 0;
  width: 400px;
}

select, span, div, input, button {
  font-size: 16px;
}


 @media screen and (max-width: 400px) {
  .Floater {
    width: 100%;
    overflow: hidden;
  }
 }